@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: "Inter", sans-serif;
}

body {
  background-color: #f5f5f5;
  font-weight: 200;
}

header {
    /*display: flex;  Используем flexbox для выравнивания элементов */
}

header nav {
    float: right;
    width: 60%;
}

header nav ul {
    margin-top: 30px;
    margin-right: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between; /*текст раскидан на всю ширину блока*/
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #343434;
    text-decoration: none;
    font-size: 24px;
    font-weight: 100;
    transition: all 250ms ease;
}

header nav ul li:not(.uniform-button) a:hover {
    border-bottom: 5px solid #ccadd9;
    color: black;
}

header nav ul li.uniform-button a {
    background-color: #ccadd9;
    border-radius: 120px;
    padding: 20px 20px;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 10px;
    transition: all 500ms ease;
}

header nav ul li.uniform-button a:hover {
    background-color: #f9897b;
}

#top-left-decor {
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
}

.main-paragraph {
    padding-top: 14%;
    text-align: justify;
    font-weight: 200;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 24px;
    line-height: 1.5;
}

.main-paragraph ul {
  list-style-type: none; /* Убираем стандартные маркеры */
  padding-left: 0; /* Убираем отступ слева */
}

.main-paragraph ul li {
  padding-left: 30px; /* Отступ для текста от изображения */
}

.main-paragraph ul li:nth-child(1) {
  background: url('./src/pdiamond.png') no-repeat left center;
  background-size: 25px 25px;
}

.main-paragraph ul li:nth-child(2) {
  background: url('./src/rdiamond.png') no-repeat left center;
  background-size: 25px 25px;
}

.main-paragraph ul li:nth-child(3) {
  background: url('./src/ydiamond.png') no-repeat left center;
  background-size: 25px 25px;
}

.main-paragraph ul li:nth-child(4) {
  background: url('./src/gdiamond.png') no-repeat left center;
  background-size: 25px 25px;
}