<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MBTI Тест</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='lk_page.css') }}"> <!-- Подключаем CSS -->
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='src/top_lk.svg') }}" id="top-left-decor">
        <nav>
            <ul>
                <li><a href="#" class="text-button">о тесте</a></li>
                <li><a href="#" class="text-button">типы личности</a></li>
                <li class="uniform-button">
                    <a href="{{ url_for('register') }}">K</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="charts">
        <div class="column">
            <div class="text">
                <p id="percentage">{{percentage}}%</p>
                <span id="description">пользователей имеют<br>такой же тип личности!</span>
            </div>
            <canvas class ="chart" id="pieChart"></canvas>
        </div>
        <div class="column">
            <div class="text">
                <span>Ваши самые частые результаты</span>
            </div>
            <canvas class="chart" id="barChart"></canvas>
        </div>
    </div>
    <script>
        var ctx = document.getElementById('barChart').getContext('2d');
        let type2color = {
            'IFID': 'rgba(0, 99, 132, 1)',
            'GDJK': 'rgba(255, 99, 132, 1)',
            'JHGF': 'rgba(255, 0, 132, 1)',
            'JKJD': 'rgba(120, 99, 0, 1)'
            // Добавьте остальные типы и их цвета
        };
        var values = {{values | safe}};
        var labels = {{labels | safe}};
        var horizontalBarChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels.slice(0, 3),
            datasets: [{
                label: '',
                data: values.slice(0, 3),
                backgroundColor: [
                    type2color[labels[0]],
                    type2color[labels[1]],
                    type2color[labels[2]]
                ],
                borderColor: [
                    type2color[labels[0]],
                    type2color[labels[1]],
                    type2color[labels[2]]
                ],
                borderWidth: 1,
                barThickness: 60 // Устанавливаем фиксированную ширину столбцов
            }]
        },
        options: {
            responsitive: false,
            plugins: {
                legend: {
                    display: false // Отключаем легенду
                }
            },
            indexAxis: 'y', // This makes the bar chart horizontal
            scales: {
                x: {
                    beginAtZero: true,
                    barPercentage: 1, // Убираем расстояние между столбцами
                    categoryPercentage: 1 // Убираем дополнительное расстояние
                },
                y: {
                    barPercentage: 1, // Убираем расстояние между столбцами
                    categoryPercentage: 1 // Убираем дополнительное расстояние
                }
            }
        }
    });
    var ct = document.getElementById('pieChart').getContext('2d');
        var donutChart = new Chart(ct, {
            type: 'doughnut', // Тип диаграммы
            data: {
                labels: ['IFID', 'GDJK', 'JHGF', 'JKJD'], // Метки
                datasets: [{
                    data: [10, 20, 10, 30], // Значения
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.7)', // Цвета сегментов
                        'rgba(54, 162, 235, 0.7)',
                        'rgba(255, 206, 86, 0.7)',
                        'rgba(75, 192, 192, 0.7)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)', // Цвета границ
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)'
                    ],
                    borderWidth: 1 // Толщина границ
                }]
            },
            options: {
                responsitive: false,
                plugins: {
                    legend: {
                        display: false, // Отображение легенды
                    }
                },
                cutout: '50%' // Устанавливаем размер "дырки" в центре
            }
        });
    </script>
</body>
</html>