<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тестирование</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='test_page.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='src/sqlight1.png') }}" id="decor">
    <form id="quiz-form">
        <div id="question-container" class="question"></div>
        <div class="button-container">
            <button type="button" class="round-button" data-value="-2" onclick="saveAnswer(-2)"></button>
            <button type="button" class="round-button" data-value="-1" onclick="saveAnswer(-1)"></button>
            <button type="button" class="round-button" data-value="0" onclick="saveAnswer(0)"></button>
            <button type="button" class="round-button" data-value="1" onclick="saveAnswer(1)"></button>
            <button type="button" class="round-button" data-value="2" onclick="saveAnswer(2)"></button>
        </div>
        <div id="hint-bar">
            <p>Не согласен(а)</p>
            <p>Согласен(а)</p>
        </div>
    </form>

    <script>
        // Массив вопросов
        const questions = [
            { question: 'На мероприятии вас привлекают скорее групповые обсуждения, чем беседы один на один', id: 1 },
            { question: 'После тяжелого рабочего дня вы скорее проведете время с друзьями или на общественном мероприятии, чем в одиночестве', id: 2 },
            { question: 'Встречая проблему, вы предпочитаете устроить мозговой штурм с коллегами/друзьями, а не решать ее в одиночестве', id: 3 },
            { question: 'В свободное время вы скорее поищите социальные мероприятия, чем останетесь дома заниматься чем-то более спокойным', id: 4 },
            { question: 'Вы находите светские беседы скорее увлекательными, чем странными и изматывающими', id: 5},
            { question: 'Принимая решение, вы опираетесь больше на мнение окружающих, чем на свое собственное', id: 6},
            { question: 'Сталкиваясь с незнакомой ситуацией, вы обычно полны энтузиазма, а не подходите ко всему с осторожностью', id: 7},
            { question: 'Вы скорее предпочитаете работать в офисе и взаимодействовать с коллегами, чем работать в одиночестве', id: 8},
            { question: 'Вам нравится быть в центре внимания', id: 9},
            { question: 'На выходных вы скорее проведе время с друзьями, чем наедине с собой', id: 10},
            { question: 'Встречая новых людей, вы скорее завяжете разговор первым, чем будете ждать, когда к вам обратятся', id: 11},
            { question: 'Сталкиваясь с проблемой, вы скорее выберете то решение, которое интуитивно кажется вам правильным, чем будете опираться на факты', id: 12},
            { question: 'Вам нравится изучать неоднозначные идеи и концепции, которые могут быть непрактичными', id: 13},
            { question: 'Обсуждая новости, вы скорее рассуждаете о том, к чему они приведут и что означают, чем перечисляете факты и детали', id: 14},
            { question: 'Вы предпочитаете спонтанный, а не распланированный по часам отпуск', id: 15},
            { question: 'Принимая решение, вы рассматриваете все возмжные последствия, не ограничиваясь несколькими реалистичными сценариями', id: 16},
            { question: 'Работая над проектом, вы скорее фокусиретесь на общем видении его, чем на конкретных задачах', id: 17},
            { question: 'Обсуждая что-то, вы делитесь своими идеями, а не оперируете фактами', id: 18},
            { question: 'Вы хорошо адаптируетесь к неожиданным изменениям в планах', id: 19},
            { question: 'Вспомниая произошедшее, вы припоминаете эмоции, которые оно вызвало, а не конкретные события', id: 20},
            { question: 'Читая книгу, вы скорее ищите скрытые смыслы и идеи, чем фокусируетесь на сюжете', id: 21},
            { question: 'Обучаясь, вы предпочитаете абстрактные и многозначительные объянения, а не четкие и понятные', id: 22},
            { question: 'Вы предпочитаете изобретательные и необычные решения проверенным', id: 23},
            { question: 'Придумывая решения, вы скорее приходите к изобретательным и нестандартным идеям, чем к практическим', id: 24},
            { question: 'Вы решаете проблемы креативно, а не последовательно и шаг за шагом', id: 25},
            { question: 'Принимая решение, вы в первую очередь думаете о том, как оно повляет на окружающих, а не об его объективных выгодах', id: 26},
            { question: 'В критике и обратной связи вам важнее эмоции говорившего, а не перечисленные им факты', id: 27},
            { question: 'Вы принимаете решения, опираясь чувства, а не разум', id: 28},
            { question: 'Вы выберете ту задачу, которая поможет окружающим, чем ту, что ускорит выполнение проекта', id: 29},
            { question: 'Принимая решение в группе, вы склонны отстаивать те решения, которые соответствуют вашему моральному компасу, а не те, что являются логичными', id: 30},
            { question: 'Вы учитываете эмоции человека, когда даете обратную связь, а не фокусируетесь лишь на изложении фактов', id: 31},
            { question: 'Высказыая мнение, вы учитываете чувства и жизненную позицию собсеседников, а не упираете на логику ваших рассуждений', id: 32},
            { question: 'Вы принимаете во мнимание чувства людей, когда принимаете решение, а не просто принимаете самое эффективное решение', id: 33},
            { question: 'В работе гланым показателем успешности для вас является позитивные взаимоотношения в коллективе, а не фактический выполненный объем работ', id: 34},
            { question: 'Решая конфликты, вы в первую очередь думаете об эмоциональном комфорте окружающих, а не о логических выходах их ситуации', id: 35},
            { question: 'Готовя праздник, вы делаете акцент на теплой атмосфере, а не на четком расписании', id: 36},
            { question: 'Вы справляетесь со стрессом с помощью эмоциональной поддержки, а не размышляете над способами выйти из ситуации', id: 37},
            { question: 'Принимая решения, вы опираетесь на свои моральные ценности, а не на сухие факты', id: 38},
            { question: 'Критикуя, вы скорее поддержите и поощрите человека, чем укажите на конкретные проблемы и способы их решения', id: 39},
            { question: 'Спонтанность в делах вам нравится больше, чем четкий план', id: 40},
            { question: 'Когда вы начинаете проект, вы предпочитаете делать его "на ходу", а не придерживаться плана', id: 41},
            { question: 'Вы лучше работаете под давлением и перед дедлайном. Планомерная работа не про вас', id: 42},
            { question: 'Вы сторонник "творческого беспорядка", а не организованного рабочего места', id: 43},
            { question: 'Вы собираетесь в дорогу на ходу, хватая все, что кажется полезным, а не составляете список вещей и покуете сумку заранее', id: 44},
            { question: 'Вы комфортно себя ощущаете, когда все идет не по плану, и хорошо адаптируетесь к новым обстоятельствам', id: 45},
            { question: 'Вы предпочитаете прыгать в омут с головой, когда подворачивается хорошая возможность, а не обдумать предварительно плюсы и минусы решения', id: 46},
            { question: 'Вам нравится быть свободным в выборе поряка выполнения рабочих задач, а не иметь на руках четкий план', id: 47},
            { question: 'Вы не делаете списка задач на день, а предпочитаете выбирать занятие на ходу', id: 48},
            { question: 'Вам нравится неожиданность в повседневной жизни, определенность вас угнетает', id: 49},
            { question: 'Вы зацикливаетесь на задаче в поисках альтернативных решений, а не останавливаетесь быстро на одном', id: 50},
        ];

        let currentQuestionIndex = 0; // Индекс текущего вопроса
        const userAnswers = []; // Массив для хранения ответов

        // Функция для отображения текущего вопроса
        function showQuestion() {
            const questionContainer = document.getElementById('question-container');
            const currentQuestion = questions[currentQuestionIndex];
            questionContainer.textContent = currentQuestion.question;
        }

        // Функция для сохранения ответа
        function saveAnswer(value) {
            // Сохраняем ответ по индексу вопроса
            userAnswers[currentQuestionIndex] = value;

            // Переходим к следующему вопросу
            currentQuestionIndex++;

            // Проверяем, есть ли еще вопросы
            if (currentQuestionIndex < questions.length) {
                showQuestion(); // Отображаем следующий вопрос
            } else {
                // Создаем объект для отправки на сервер
                const resultData = { answers: userAnswers };

                // Отправка данных на сервер
                fetch('/result', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                  },
                  body: JSON.stringify(resultData)
                })
                .then(response => {
                  if (response.redirected) {
                    window.location.href = response.url;  // Делает редирект на новый URL, полученный с сервера
                  }
                })
                .catch(error => console.error('Ошибка:', error));
            }
        }

        // Изначально отображаем первый вопрос
        showQuestion();
    </script>
</body>
</html>
